[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterlab = "*"
altair = "*"
openpyxl = "*"
duckdb = "*"
ipython-sql = "*"
sqlalchemy = "*"
duckdb-engine = "*"

[dev-packages]

[requires]
python_version = "3.9"
